# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Bb]in/
[Oo]bj/

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
*.ncrunch*

# NuGet Packages
*.nupkg
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/