<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PASSWORD" value="API-P4ss"/>
    <add key="APIKEY" value="60CF3Ce97nRS1Z1Wp5m9kMmzHHEh8Rkuj31QCtVxjPWGYA9FymyqsK0Enm1P6mHJf0THbR"/>
    <add key="ENDPOINT" value="https://api.sandbox.ewaypayments.com/"/>
    <add key="APIVERSION" value="40"/>
  </appSettings>
</configuration>